[Unit]
Description=Set webcams to MJPEG ${WIDTH}×${HEIGHT} @ ${FPS} fps
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/local/bin/lock_cams.sh
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target