Package: ${PKG_NAME}
Version: ${PKG_VERSION}-1
Section: misc
Priority: optional
Architecture: arm64
Maintainer: Opendartboard Community <@opendartboard>
Depends: libopencv-dev, gstreamer1.0-libav, v4l-utils
Description:
  OpenDartboard is a headless dartboard scoring system that uses computer vision to detect dart positions and scores.
  It supports multiple cameras for accurate detection and can be used with various dartboards.
  This package is designed for use on ARM64 architecture, specifically for Raspberry Pi devices.
  It includes the necessary dependencies for camera access and image processing.
